
<footer>
 <div class="div-footer">
   <div class="footer-nav-bar">
    <nav id="footer-nav" class="footer-navigation">
        <ul class="menu-footer-primary">
          <a href="http://localhost:8000/"><li>What we do</li></a>
          <a href="http://localhost:8000/faqs/"><li>FAQ's</li></a>
          <a href="http://localhost:8000/company/"><li>Company</li></a>
          <a href="http://localhost:8000/contact/"><li>Contact</li></a>
          <a href="http://localhost:8000/article/"><li>Article</li></a>
          <a href="http://localhost:8000/help/"><li>Help</li></a>
        </ul>
    </nav>
   </div>

    <div class="social-icons">
        <ul class="menu-footer-social">
          <a href="http://localhost:8000/"><li><i class="fab fa-twitter fa-2x"></i></li></a>
          <a href="http://localhost:8000/faqs/"><li><i class="fab fa-facebook-f fa-2x"></i></li></a>
          <a href="http://localhost:8000/company/"><li><i class="fab fa-instagram fa-2x"></i></li></a>
        </ul>
    </div>

    <div class="footer-contact-info">
      <p>930 Bawan Street, suit 326, Vancouver</p>
      <p>farmscare@hotmail.com</p>
  </div>
  <div class="copyright-tag">
    <p>Made by Creatr &copy;</p>
  </div>
  </div>
</footer>