<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <title>Statics - Area Of Interests</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Statics - Area Of Interests - FarmsCare">
    <meta name="author" content="FarmsCare">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Multi Select Vue -->
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
	<!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
   
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/album/album.css" rel="stylesheet">
	 <!-- font awesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/header/header.css' %}">
	<link rel="stylesheet" href="{% static 'css/statics.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer/footer.css' %}">

  
	<style>
     @import url('https://fonts.googleapis.com/css?family=Patua+One');
	</style>
  </head>
  <body  >
    
 {% include 'header-nav.html' %}
 <div id="app">
    <h1>Area of Interest</h1>

   
       <p>{{ message }}</p> 
     

      <!-- <div class="form-group m-5"> -->
        <!-- <select class="form-control" name="region" id="region" v-model="region">
          <option v-for="option in region_options" :value="option.id">{{option.regionName}}</option>
       -->
     
       
      <!-- </div> -->
<!-- <div class="form-multiselect">
  <form action="">
   <div class="select-first">
    <select name="Places/Region">
      <option value="British Columbia">British Columbia</option>
      <option value="Toronto">Toronto</option>
    </select>
   </div>
  <div class="select-second">
<select name="Categories">
<option value="Plants">Plants</option>
<option value="Diseases">Diseases</option>
<option value="Temprature">Temperature</option>
</select>
</div>

<div class="select-third">
<select name="Select Attributes">
<option value="Seeds">Seeds</option>
<option value="Crops">Crops</option>
<option value="Temprature">Temperature</option>
</select>
</div>
  <br><br> -->
  <!-- <input type="submit">  -->
  <!-- <button class="btn btn-info" v-on:click="getArticle(article.article_id)">Submit</button>
</form> -->
</div>
 {% include 'footer.html' %}


  </body>
</html>

