
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue-js | Django | Crud App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple crud app made with the vue js and django">

    <meta name="keywords" content="vuejs, django, crudapp, restapi">
    <!-- bootstap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- boostrap css -->
<style>
div#chart{
  max-width:400px;
  margin: auto;
}

</style>
  </head>

  <body>
    <h1>Vue chart</h1>
    <div id="chart">
</div>


  <!-- bootrtap js files -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- vue.js files -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script type="text/javascript">

  var options = {
  chart: {
    type: 'bar'
  },
  series: [{
    name: 'Production in Percentage',
    data: [20,40,35,50,60,55],
    title: {
             text: 'Production in Percentage'
           }
  }],
  yaxis: {
    name: 'Production in Percentage',
    title: {
             text: 'Production in Percentage'
           }
  },
  xaxis: {
    categories: [2010,2011,2012,2013,2014,2015,2016, 2017,2018],
    title: {
             text: 'Year'
           }
  },
  title: {
               text: 'British Columbia - Canada, 2019',
               floating: false,
               offsetY: 0,
               align: 'center',
               style: {
                   color: '#444'
               }
           },

}

var chart = new ApexCharts(document.querySelector("#chart"), options);

chart.render();

  </script>


  
  </body>
</html>
